@model CapstoneTeam11.Models.LoginModel

@{
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>
<p>New to Ticklr? 
    <a asp-controller="Account" asp-action="Register">Register for an account.</a>
</p>

@if (TempData["LogoutMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @* bootstrap icon: check circe | https://icons.getbootstrap.com/icons/check-circle/ *@
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 24 24">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
        </svg>
        @TempData["LogoutMessage"]
    </div>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-warning" role="alert">
        @* bootstrap icon: exclamation triangle | source: https://icons.getbootstrap.com/icons/exclamation-triangle/ *@
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-exclamation-triangle alert-icon" viewBox="0 0 24 24">
            <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z"/>
            <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
        </svg>
        @ViewBag.Error
    </div>
}

<form method="post" asp-controller="Account" asp-action="Login" class="form-container">
    <div class="form-item">
        <label for="Email">Email</label>
        <input type="email" name="Email" id="Email" required 
               list="previousEmails" autocomplete="username" />
        <datalist id="previousEmails">
            @* reworked display to address "possible null reference" errors *@
            @{
                var previousEmails = ViewBag.PreviousEmails as List<string>;
                if (previousEmails != null)
                {
                    foreach (var email in previousEmails)
                    {
                        <option value="@email"></option>
                    }
                }
            }
            @* @if (ViewBag.PreviousEmails != null)
            {
                foreach (var email in ViewBag.PreviousEmails as List<string>)
                {
                    <option value="@email"></option>
                }
            } *@
        </datalist>
    </div>
    <div class="form-item">
        <label for="Password">Password</label>
        <input type="password" name="Password" id="Password" required autocomplete="current-password" />
    </div>
    <div class="form-item">
        <label for="rememberMe">
            <input type="checkbox" name="rememberMe" id="rememberMe" />
            Remember me
        </label>
    </div>
    <input type="submit" value="Login" />
</form>